:root {
    --color-theme1: #F18585;
    --color-theme2: #F49C9C;
    --color-theme3: #F6AEAE;
    --color-theme4: #F8CACF;
    --color-theme5: #EED5FB;
    --color-theme6: #E4BEF8;
    --color-theme7: #D5A8F2;
    --color-theme8: #CB90F1;
    --color-theme9: #C174F2;

    --header-height: 10vh;

    background: linear-gradient(var(--color-theme4), var(--color-theme6));
    min-height: 100vh;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Montserra', sans-serif;
}

.header-size {
    height: var(--header-height);
}
